.solr_result_doc dt{
	float:left;
	width:125px;
	font-weight:bold;
	text-align:right;
	margin-right:25px;
}
.solr_facets{
	float:right;
	width:30%;
}
.solr_results{
	float:left;
	width:60%;
}
.item{
	width:100%;
}
.fn{
	width:80%;
	float:left;
}
.fc{
	float:left;
	text-align:right;
	width:15%;
}
.solr_sort>h4{
	display:inline;	
}
.solr_sort_form{
	float:right;
}
#sort-label label{
	display:inline;
}