<phpunit bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertWarningsToExceptions="true"
  verbose="true">

  <testsuite name="SolrSearchTests">
    <directory>integration</directory>
    <directory>unit</directory>
  </testsuite>

  <logging>
    <log type="coverage-html"
      target="build/coverage"
      charset="UTF-8" yui="true"
      highlight="true"
      lowUpperBound="35"
      highLowerBound="70" />
  </logging>

</phpunit>
