<phpunit bootstrap="bootstrap.php"
  verbose="true"
  convertErrorsToExceptions="true"
  convertWarningsToExceptions="true">
  <php>
    <includePath>..</includePath>
    <includePath>../../..</includePath>
  </php>
  <testsuite name="SolrSearchTests">
    <directory>cases</directory>
    <directory>unit</directory>
  </testsuite>
  <logging>
    <log type="coverage-html"
      target="build/coverage"
      charset="UTF-8" yui="true"
      highlight="true"
      lowUpperBound="35"
      highLowerBound="70" />
  </logging>
</phpunit>
