<phpunit bootstrap="../../../application/tests/bootstrap.php"
  verbose="true"
  convertErrorsToExceptions="true"
  convertWarningsToExceptions="true">
  <php>
    <includePath>..</includePath>
    <includePath>../../..</includePath>
  </php>
  <testsuite name="SolrSearchTests">
    <directory>cases</directory>
    <directory>unit</directory>
  </testsuite>
</phpunit>
