/* line 109, sass/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 99, sass/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 104, sass/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 201, sass/_mixins.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 382, sass/_mixins.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 740, sass/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 730, sass/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 735, sass/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 835, sass/_mixins.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 1016, sass/_mixins.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, sass/_buttons.scss */
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #fff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
  background-image: -o-linear-gradient(top, #fff, #e6e6e6);
  background-image: linear-gradient(top, #fff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e3e3', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #ccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 1182, sass/_mixins.scss */
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
/* line 1188, sass/_mixins.scss */
.btn:active, .btn.active {
  background-color: #cccccc \9;
}
/* line 778, sass/_mixins.scss */
.btn:first-child {
  *margin-left: 0;
}

/* line 38, sass/_buttons.scss */
.btn:hover {
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

/* line 51, sass/_buttons.scss */
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 56, sass/_buttons.scss */
.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 67, sass/_buttons.scss */
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 81, sass/_buttons.scss */
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 87, sass/_buttons.scss */
.btn-large [class^="icon-"] {
  margin-top: 1px;
}

/* line 92, sass/_buttons.scss */
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}

/* line 97, sass/_buttons.scss */
.btn-small [class^="icon-"] {
  margin-top: -1px;
}

/* line 102, sass/_buttons.scss */
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}

/* line 114, sass/_buttons.scss */
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 130, sass/_buttons.scss */
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

/* line 141, sass/_buttons.scss */
.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* line 146, sass/_buttons.scss */
.btn-primary {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #08c, #0055cc);
  background-image: -ms-linear-gradient(top, #08c, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #08c, #0055cc);
  background-image: -o-linear-gradient(top, #08c, #0055cc);
  background-image: linear-gradient(top, #08c, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0085c7', endColorstr='#0053c7', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0055cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 1182, sass/_mixins.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
}
/* line 1188, sass/_mixins.scss */
.btn-primary:active, .btn-primary.active {
  background-color: #004099 \9;
}

/* line 150, sass/_buttons.scss */
.btn-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb24b', endColorstr='#f39106', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 1182, sass/_mixins.scss */
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}
/* line 1188, sass/_mixins.scss */
.btn-warning:active, .btn-warning.active {
  background-color: #c67605 \9;
}

/* line 154, sass/_buttons.scss */
.btn-danger {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5a56', endColorstr='#b9352e', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 1182, sass/_mixins.scss */
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}
/* line 1188, sass/_mixins.scss */
.btn-danger:active, .btn-danger.active {
  background-color: #942a25 \9;
}

/* line 158, sass/_buttons.scss */
.btn-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ec35e', endColorstr='#4fa04f', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 1182, sass/_mixins.scss */
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}
/* line 1188, sass/_mixins.scss */
.btn-success:active, .btn-success.active {
  background-color: #408140 \9;
}

/* line 162, sass/_buttons.scss */
.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57bedd', endColorstr='#2e93b0', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 1182, sass/_mixins.scss */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
/* line 1188, sass/_mixins.scss */
.btn-info:active, .btn-info.active {
  background-color: #24748c \9;
}

/* line 166, sass/_buttons.scss */
.btn-inverse {
  background-color: #414141;
  background-image: -moz-linear-gradient(top, #555, #222);
  background-image: -ms-linear-gradient(top, #555, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#222));
  background-image: -webkit-linear-gradient(top, #555, #222);
  background-image: -o-linear-gradient(top, #555, #222);
  background-image: linear-gradient(top, #555, #222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#525252', endColorstr='#1f1f1f', GradientType=0);
  border-color: #222 #222 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 1182, sass/_mixins.scss */
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color: #222;
  *background-color: #151515;
}
/* line 1188, sass/_mixins.scss */
.btn-inverse:active, .btn-inverse.active {
  background-color: #090909 \9;
}

/* line 174, sass/_buttons.scss */
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
/* line 178, sass/_buttons.scss */
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* line 186, sass/_buttons.scss */
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
/* line 190, sass/_buttons.scss */
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
/* line 194, sass/_buttons.scss */
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 17, sass/_sprites.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("./img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
/* line 786, sass/_mixins.scss */
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

/* line 30, sass/_sprites.scss */
.icon-white {
  background-image: url("./img/glyphicons-halflings-white.png");
}

/* line 34, sass/_sprites.scss */
.icon-glass {
  background-position: 0      0;
}

/* line 35, sass/_sprites.scss */
.icon-music {
  background-position: -24px  0;
}

/* line 36, sass/_sprites.scss */
.icon-search {
  background-position: -48px  0;
}

/* line 37, sass/_sprites.scss */
.icon-envelope {
  background-position: -72px  0;
}

/* line 38, sass/_sprites.scss */
.icon-heart {
  background-position: -96px  0;
}

/* line 39, sass/_sprites.scss */
.icon-star {
  background-position: -120px 0;
}

/* line 40, sass/_sprites.scss */
.icon-star-empty {
  background-position: -144px 0;
}

/* line 41, sass/_sprites.scss */
.icon-user {
  background-position: -168px 0;
}

/* line 42, sass/_sprites.scss */
.icon-film {
  background-position: -192px 0;
}

/* line 43, sass/_sprites.scss */
.icon-th-large {
  background-position: -216px 0;
}

/* line 44, sass/_sprites.scss */
.icon-th {
  background-position: -240px 0;
}

/* line 45, sass/_sprites.scss */
.icon-th-list {
  background-position: -264px 0;
}

/* line 46, sass/_sprites.scss */
.icon-ok {
  background-position: -288px 0;
}

/* line 47, sass/_sprites.scss */
.icon-remove {
  background-position: -312px 0;
}

/* line 48, sass/_sprites.scss */
.icon-zoom-in {
  background-position: -336px 0;
}

/* line 49, sass/_sprites.scss */
.icon-zoom-out {
  background-position: -360px 0;
}

/* line 50, sass/_sprites.scss */
.icon-off {
  background-position: -384px 0;
}

/* line 51, sass/_sprites.scss */
.icon-signal {
  background-position: -408px 0;
}

/* line 52, sass/_sprites.scss */
.icon-cog {
  background-position: -432px 0;
}

/* line 53, sass/_sprites.scss */
.icon-trash {
  background-position: -456px 0;
}

/* line 55, sass/_sprites.scss */
.icon-home {
  background-position: 0      -24px;
}

/* line 56, sass/_sprites.scss */
.icon-file {
  background-position: -24px  -24px;
}

/* line 57, sass/_sprites.scss */
.icon-time {
  background-position: -48px  -24px;
}

/* line 58, sass/_sprites.scss */
.icon-road {
  background-position: -72px  -24px;
}

/* line 59, sass/_sprites.scss */
.icon-download-alt {
  background-position: -96px  -24px;
}

/* line 60, sass/_sprites.scss */
.icon-download {
  background-position: -120px -24px;
}

/* line 61, sass/_sprites.scss */
.icon-upload {
  background-position: -144px -24px;
}

/* line 62, sass/_sprites.scss */
.icon-inbox {
  background-position: -168px -24px;
}

/* line 63, sass/_sprites.scss */
.icon-play-circle {
  background-position: -192px -24px;
}

/* line 64, sass/_sprites.scss */
.icon-repeat {
  background-position: -216px -24px;
}

/* line 65, sass/_sprites.scss */
.icon-refresh {
  background-position: -240px -24px;
}

/* line 66, sass/_sprites.scss */
.icon-list-alt {
  background-position: -264px -24px;
}

/* line 67, sass/_sprites.scss */
.icon-lock {
  background-position: -287px -24px;
}

/* line 68, sass/_sprites.scss */
.icon-flag {
  background-position: -312px -24px;
}

/* line 69, sass/_sprites.scss */
.icon-headphones {
  background-position: -336px -24px;
}

/* line 70, sass/_sprites.scss */
.icon-volume-off {
  background-position: -360px -24px;
}

/* line 71, sass/_sprites.scss */
.icon-volume-down {
  background-position: -384px -24px;
}

/* line 72, sass/_sprites.scss */
.icon-volume-up {
  background-position: -408px -24px;
}

/* line 73, sass/_sprites.scss */
.icon-qrcode {
  background-position: -432px -24px;
}

/* line 74, sass/_sprites.scss */
.icon-barcode {
  background-position: -456px -24px;
}

/* line 76, sass/_sprites.scss */
.icon-tag {
  background-position: 0      -48px;
}

/* line 77, sass/_sprites.scss */
.icon-tags {
  background-position: -25px  -48px;
}

/* line 78, sass/_sprites.scss */
.icon-book {
  background-position: -48px  -48px;
}

/* line 79, sass/_sprites.scss */
.icon-bookmark {
  background-position: -72px  -48px;
}

/* line 80, sass/_sprites.scss */
.icon-print {
  background-position: -96px  -48px;
}

/* line 81, sass/_sprites.scss */
.icon-camera {
  background-position: -120px -48px;
}

/* line 82, sass/_sprites.scss */
.icon-font {
  background-position: -144px -48px;
}

/* line 83, sass/_sprites.scss */
.icon-bold {
  background-position: -167px -48px;
}

/* line 84, sass/_sprites.scss */
.icon-italic {
  background-position: -192px -48px;
}

/* line 85, sass/_sprites.scss */
.icon-text-height {
  background-position: -216px -48px;
}

/* line 86, sass/_sprites.scss */
.icon-text-width {
  background-position: -240px -48px;
}

/* line 87, sass/_sprites.scss */
.icon-align-left {
  background-position: -264px -48px;
}

/* line 88, sass/_sprites.scss */
.icon-align-center {
  background-position: -288px -48px;
}

/* line 89, sass/_sprites.scss */
.icon-align-right {
  background-position: -312px -48px;
}

/* line 90, sass/_sprites.scss */
.icon-align-justify {
  background-position: -336px -48px;
}

/* line 91, sass/_sprites.scss */
.icon-list {
  background-position: -360px -48px;
}

/* line 92, sass/_sprites.scss */
.icon-indent-left {
  background-position: -384px -48px;
}

/* line 93, sass/_sprites.scss */
.icon-indent-right {
  background-position: -408px -48px;
}

/* line 94, sass/_sprites.scss */
.icon-facetime-video {
  background-position: -432px -48px;
}

/* line 95, sass/_sprites.scss */
.icon-picture {
  background-position: -456px -48px;
}

/* line 97, sass/_sprites.scss */
.icon-pencil {
  background-position: 0      -72px;
}

/* line 98, sass/_sprites.scss */
.icon-map-marker {
  background-position: -24px  -72px;
}

/* line 99, sass/_sprites.scss */
.icon-adjust {
  background-position: -48px  -72px;
}

/* line 100, sass/_sprites.scss */
.icon-tint {
  background-position: -72px  -72px;
}

/* line 101, sass/_sprites.scss */
.icon-edit {
  background-position: -96px  -72px;
}

/* line 102, sass/_sprites.scss */
.icon-share {
  background-position: -120px -72px;
}

/* line 103, sass/_sprites.scss */
.icon-check {
  background-position: -144px -72px;
}

/* line 104, sass/_sprites.scss */
.icon-move {
  background-position: -168px -72px;
}

/* line 105, sass/_sprites.scss */
.icon-step-backward {
  background-position: -192px -72px;
}

/* line 106, sass/_sprites.scss */
.icon-fast-backward {
  background-position: -216px -72px;
}

/* line 107, sass/_sprites.scss */
.icon-backward {
  background-position: -240px -72px;
}

/* line 108, sass/_sprites.scss */
.icon-play {
  background-position: -264px -72px;
}

/* line 109, sass/_sprites.scss */
.icon-pause {
  background-position: -288px -72px;
}

/* line 110, sass/_sprites.scss */
.icon-stop {
  background-position: -312px -72px;
}

/* line 111, sass/_sprites.scss */
.icon-forward {
  background-position: -336px -72px;
}

/* line 112, sass/_sprites.scss */
.icon-fast-forward {
  background-position: -360px -72px;
}

/* line 113, sass/_sprites.scss */
.icon-step-forward {
  background-position: -384px -72px;
}

/* line 114, sass/_sprites.scss */
.icon-eject {
  background-position: -408px -72px;
}

/* line 115, sass/_sprites.scss */
.icon-chevron-left {
  background-position: -432px -72px;
}

/* line 116, sass/_sprites.scss */
.icon-chevron-right {
  background-position: -456px -72px;
}

/* line 118, sass/_sprites.scss */
.icon-plus-sign {
  background-position: 0      -96px;
}

/* line 119, sass/_sprites.scss */
.icon-minus-sign {
  background-position: -24px  -96px;
}

/* line 120, sass/_sprites.scss */
.icon-remove-sign {
  background-position: -48px  -96px;
}

/* line 121, sass/_sprites.scss */
.icon-ok-sign {
  background-position: -72px  -96px;
}

/* line 122, sass/_sprites.scss */
.icon-question-sign {
  background-position: -96px  -96px;
}

/* line 123, sass/_sprites.scss */
.icon-info-sign {
  background-position: -120px -96px;
}

/* line 124, sass/_sprites.scss */
.icon-screenshot {
  background-position: -144px -96px;
}

/* line 125, sass/_sprites.scss */
.icon-remove-circle {
  background-position: -168px -96px;
}

/* line 126, sass/_sprites.scss */
.icon-ok-circle {
  background-position: -192px -96px;
}

/* line 127, sass/_sprites.scss */
.icon-ban-circle {
  background-position: -216px -96px;
}

/* line 128, sass/_sprites.scss */
.icon-arrow-left {
  background-position: -240px -96px;
}

/* line 129, sass/_sprites.scss */
.icon-arrow-right {
  background-position: -264px -96px;
}

/* line 130, sass/_sprites.scss */
.icon-arrow-up {
  background-position: -289px -96px;
}

/* line 131, sass/_sprites.scss */
.icon-arrow-down {
  background-position: -312px -96px;
}

/* line 132, sass/_sprites.scss */
.icon-share-alt {
  background-position: -336px -96px;
}

/* line 133, sass/_sprites.scss */
.icon-resize-full {
  background-position: -360px -96px;
}

/* line 134, sass/_sprites.scss */
.icon-resize-small {
  background-position: -384px -96px;
}

/* line 135, sass/_sprites.scss */
.icon-plus {
  background-position: -408px -96px;
}

/* line 136, sass/_sprites.scss */
.icon-minus {
  background-position: -433px -96px;
}

/* line 137, sass/_sprites.scss */
.icon-asterisk {
  background-position: -456px -96px;
}

/* line 139, sass/_sprites.scss */
.icon-exclamation-sign {
  background-position: 0      -120px;
}

/* line 140, sass/_sprites.scss */
.icon-gift {
  background-position: -24px  -120px;
}

/* line 141, sass/_sprites.scss */
.icon-leaf {
  background-position: -48px  -120px;
}

/* line 142, sass/_sprites.scss */
.icon-fire {
  background-position: -72px  -120px;
}

/* line 143, sass/_sprites.scss */
.icon-eye-open {
  background-position: -96px  -120px;
}

/* line 144, sass/_sprites.scss */
.icon-eye-close {
  background-position: -120px -120px;
}

/* line 145, sass/_sprites.scss */
.icon-warning-sign {
  background-position: -144px -120px;
}

/* line 146, sass/_sprites.scss */
.icon-plane {
  background-position: -168px -120px;
}

/* line 147, sass/_sprites.scss */
.icon-calendar {
  background-position: -192px -120px;
}

/* line 148, sass/_sprites.scss */
.icon-random {
  background-position: -216px -120px;
}

/* line 149, sass/_sprites.scss */
.icon-comment {
  background-position: -240px -120px;
}

/* line 150, sass/_sprites.scss */
.icon-magnet {
  background-position: -264px -120px;
}

/* line 151, sass/_sprites.scss */
.icon-chevron-up {
  background-position: -288px -120px;
}

/* line 152, sass/_sprites.scss */
.icon-chevron-down {
  background-position: -313px -119px;
}

/* line 153, sass/_sprites.scss */
.icon-retweet {
  background-position: -336px -120px;
}

/* line 154, sass/_sprites.scss */
.icon-shopping-cart {
  background-position: -360px -120px;
}

/* line 155, sass/_sprites.scss */
.icon-folder-close {
  background-position: -384px -120px;
}

/* line 156, sass/_sprites.scss */
.icon-folder-open {
  background-position: -408px -120px;
}

/* line 157, sass/_sprites.scss */
.icon-resize-vertical {
  background-position: -432px -119px;
}

/* line 158, sass/_sprites.scss */
.icon-resize-horizontal {
  background-position: -456px -118px;
}

/* line 160, sass/_sprites.scss */
.icon-hdd {
  background-position: 0      -144px;
}

/* line 161, sass/_sprites.scss */
.icon-bullhorn {
  background-position: -24px  -144px;
}

/* line 162, sass/_sprites.scss */
.icon-bell {
  background-position: -48px  -144px;
}

/* line 163, sass/_sprites.scss */
.icon-certificate {
  background-position: -72px  -144px;
}

/* line 164, sass/_sprites.scss */
.icon-thumbs-up {
  background-position: -96px  -144px;
}

/* line 165, sass/_sprites.scss */
.icon-thumbs-down {
  background-position: -120px -144px;
}

/* line 166, sass/_sprites.scss */
.icon-hand-right {
  background-position: -144px -144px;
}

/* line 167, sass/_sprites.scss */
.icon-hand-left {
  background-position: -168px -144px;
}

/* line 168, sass/_sprites.scss */
.icon-hand-up {
  background-position: -192px -144px;
}

/* line 169, sass/_sprites.scss */
.icon-hand-down {
  background-position: -216px -144px;
}

/* line 170, sass/_sprites.scss */
.icon-circle-arrow-right {
  background-position: -240px -144px;
}

/* line 171, sass/_sprites.scss */
.icon-circle-arrow-left {
  background-position: -264px -144px;
}

/* line 172, sass/_sprites.scss */
.icon-circle-arrow-up {
  background-position: -288px -144px;
}

/* line 173, sass/_sprites.scss */
.icon-circle-arrow-down {
  background-position: -312px -144px;
}

/* line 174, sass/_sprites.scss */
.icon-globe {
  background-position: -336px -144px;
}

/* line 175, sass/_sprites.scss */
.icon-wrench {
  background-position: -360px -144px;
}

/* line 176, sass/_sprites.scss */
.icon-tasks {
  background-position: -384px -144px;
}

/* line 177, sass/_sprites.scss */
.icon-filter {
  background-position: -408px -144px;
}

/* line 178, sass/_sprites.scss */
.icon-briefcase {
  background-position: -432px -144px;
}

/* line 179, sass/_sprites.scss */
.icon-fullscreen {
  background-position: -456px -144px;
}

/* line 9, sass/fields.scss */
#solr-fields td {
  vertical-align: middle;
}
/* line 13, sass/fields.scss */
#solr-fields input[type=text] {
  margin: 0;
  width: 100%;
}
/* line 18, sass/fields.scss */
#solr-fields span.original-label {
  font-weight: bold;
}

/* line 24, sass/fields.scss */
#submit {
  margin-top: 2em !important;
}
