
@import "compass/css3/box-sizing";
@import "mixins";
@import "variables";
@import "buttons";
@import "sprites";


.textinplace {
    input[type=text] {
        @include box-sizing(border-box);
        width: 100%;
    }

    .valuewrap {
        border: 1px solid #ccc;
        padding-left: 0.4em;

        &:hover {
            background-color: #bbb;
            cursor: pointer;
        }

        .icons {
            float: right;
        }
    }
}

