@import "compass/css3/box-sizing";
@import "mixins";
@import "variables";
@import "buttons";
@import "sprites";

.textinplace {

  input[type=text] {
    @include box-sizing(border-box);
    width: 100%;
  }

  .valuewrap {
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 .375em #d6d6d6 inset;
    padding: 0.3em;

    &:hover {
      background-color: #ddd;
      cursor: pointer;
    }

    .icons {
      float: right;
    }

  }

}

#submit {
  margin-top: 2em !important;
}
