@import "mixins";
@import "variables";
@import "buttons";

#solr-search-form {
  overflow: hidden;
  box-sizing: border-box;

  span.float-wrap {
    display: block;
    padding-right: 10px;
    overflow: hidden;

    input[type="text"] {
      width: 100%;
    }

  }

  input[type="submit"] {
    float: right;
  }

}

#solr-facets {
  width: 20%;
  float: left;
}

#solr-results {
  margin-left: 22%;

  div.solr-result {
    margin: 1em 0;

    div.solr-title {
      a {
        font-weight: bold;
      }
    }

    ul.solr-hl {
      em {
        font-weight: bold;
      }
    }

  }

}
